In [25]:
import pandas as pd
import numpy as mp
import json

file_dir = "C:/Users/Zhang/Downloads/BootCamp_finalproject/"

metadata0 = pd.read_csv(f'{file_dir}movies_metadata.csv', low_memory = False)
rawdata0 = pd.read_csv(f'{file_dir}raw_moviedata.csv', low_memory = False)

In [68]:
metadata = metadata0.drop(columns = ['adult','homepage','overview','belongs_to_collection', 'tagline', 'status', 
                         'poster_path', 'original_title', 'spoken_languages', 'imdb_id', 'id',
                         'production_companies', 'video', 'vote_count','production_countries'])
metadata.head(10)

,budget,genres,original_language,popularity,release_date,revenue,runtime,title,vote_average
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,21.946943,1995-10-30,373554033.0,81.0,Toy Story,7.7
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,17.015539,1995-12-15,262797249.0,104.0,Jumanji,6.9
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",en,11.7129,1995-12-22,0.0,101.0,Grumpier Old Men,6.5
3,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,3.859495,1995-12-22,81452156.0,127.0,Waiting to Exhale,6.1
4,0,"[{'id': 35, 'name': 'Comedy'}]",en,8.387519,1995-02-10,76578911.0,106.0,Father of the Bride Part II,5.7
5,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",en,17.924927,1995-12-15,187436818.0,170.0,Heat,7.7
6,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",en,6.677277,1995-12-15,0.0,127.0,Sabrina,6.2
7,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,2.561161,1995-12-22,0.0,97.0,Tom and Huck,5.4
8,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,5.23158,1995-12-22,64350171.0,106.0,Sudden Death,5.5
9,58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",en,14.686036,1995-11-16,352194034.0,130.0,GoldenEye,6.6

In [62]:
rawdata = rawdata0.drop(columns = ['video_id', 'cvt_per_day','weighted_categorical_position','import_id', 
                         'metacritic_score','mpaa','star_category','weighted_horizontal_poition',
                        'awards', 'imdb_votes'])

rawdata.head(20)

,release_year,genres,budget,boxoffice,imdb_rating,duration_in_mins
0,2013,"Action,Thriller,Drama",15000000,42930462,6.5,112.301017
1,2013,"Comedy,Crime,Thriller",15000000,3301046,6.5,94.983250
2,2012,"Crime,Drama",26000000,37397291,7.3,115.763675
3,2008,"Thriller,Drama,War,Documentary,Mystery,Action",15000000,15700000,7.6,130.703583
4,2013,"Crime,Thriller,Mystery,Documentary",27220000,8551228,6.4,105.545533
5,2000,Comedy,60000000,32095318,5.5,98.468350
6,2013,"Action,Adventure,Thriller",11000000,8551228,5.2,94.336417
7,2014,"Western,Drama",16000000,2428883,6.6,123.302517
8,2013,"Thriller,Crime,Western",45000000,12026670,6.4,107.212833
9,2009,"Action,Adventure,Sci-Fi,Fantasy,Thriller",0,0,0.0,94.748448
10,2004,"Crime,Drama",6500000,54557348,7.8,112.443750
11,2012,"Action,Mystery,Thriller",10400000,8551228,5.7,97.500000
12,2007,"Crime,Horror,Mystery,Drama,Thriller",8000000,3992339,5.9,97.616667
13,2007,"Sport,Kids & Family,Drama",1500000,8551228,5.8,108.905483
14,2012,"Action,Thriller,Mystery,Drama",23000000,18934858,5.8,92.845700
15,2008,"Horror,Mystery",12000000,31397498,5.4,96.583333
16,2008,"Animation,Comedy,Kids & Family",25000000,19528188,6.0,86.567550
17,2012,"Drama,Thriller",12000000,7918283,6.6,107.496383
18,1997,"Crime,Drama",30000000,23461013,6.2,130.409150
19,2014,"Thriller,Drama,Crime",4000000,371897,6.9,117.769450