<a href="https://colab.research.google.com/github/hemsmalli5/Final-Project---Week1/blob/angel-2022cal/Sample_final_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Amazon Prime Video Dataset: 
There are about 4000+ rows and 16 columns, we are aimed to meature on how much a movie is consumed by the audiences per day. Higher number means the movies is more popular on our platform.

**Part 0 Load packages, load data**

In [ ]:
import numpy as np
import pandas as pd
import sklearn as sl
import sklearn.preprocessing as preprocessing
from sklearn.model_selection import train_test_split
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('max_colwidth', 100)

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving TVdata.txt to TVdata (1).txt

In [ ]:
TV = pd.read_table('TVdata.txt', header= 0, sep= ',', lineterminator='\n')
print(TV.head())

   video_id  cvt_per_day  weighted_categorical_position  \
0    385504   307127.606                              1
1    300175   270338.426                              1
2    361899   256165.867                              1
3    308314   196622.721                              3
4    307201   159841.652                              1

   weighted_horizontal_poition  import_id  release_year  \
0                            3  lionsgate          2013
1                            3  lionsgate          2013
2                            3      other          2012
3                            4  lionsgate          2008
4                            3  lionsgate          2013

                                          genres  imdb_votes    budget  \
0                          Action,Thriller,Drama       69614  15000000
1                          Comedy,Crime,Thriller       46705  15000000
2                                    Crime,Drama      197596  26000000
3  Thriller,Drama,War,Documentary,Mystery,Action      356339  15000000
4             Crime,Thriller,Mystery,Documentary       46720  27220000

   boxoffice  imdb_rating  duration_in_mins  metacritic_score       awards  \
0   42930462        6.500           112.301                51  other award
1    3301046        6.500            94.983                41     no award
2   37397291        7.300           115.764                58  other award
3   15700000        7.600           130.704                94        Oscar
4    8551228        6.400           105.546                37  other award

    mpaa  star_category
0  PG-13          1.710
1      R          3.250
2      R          2.647
3      R          1.667
4      R          3.067

# *** Part 1: Data Exploration ***

### **1.1 Exclude erroneous data**

Each video should only appear once in the lits, duplicated video will be removed.

In [ ]:
if TV['video_id'].duplicated().sum()==0:
  print('no duplicated index')

no duplicated index

### **1.2 Understand numerical features**

### 1.2.1 Overview

In [ ]:
TV.info()
print(TV.drop(columns=['video_id', 'release_year'], axis=1).describe(percentiles = [0.1, 0.25,0.5, 0.75,0.95]))
(TV==0).sum(axis=0)/TV.shape[0]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4226 entries, 0 to 4225
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   video_id                       4226 non-null   int64
 1   cvt_per_day                    4226 non-null   float64
 2   weighted_categorical_position  4226 non-null   int64
 3   weighted_horizontal_poition    4226 non-null   int64
 4   import_id                      4226 non-null   object
 5   release_year                   4226 non-null   int64
 6   genres                         4226 non-null   object
 7   imdb_votes                     4226 non-null   int64
 8   budget                         4226 non-null   int64
 9   boxoffice                      4226 non-null   int64
 10  imdb_rating                    4226 non-null   float64
 11  duration_in_mins               4226 non-null   float64
 12  metacritic_score               4226 non-null   int64
 13  awards                         4226 non-null   object
 14  mpaa                           4226 non-null   object
 15  star_category                  4226 non-null   float64
dtypes: float64(4), int64(8), object(4)
memory usage: 528.4+ KB
       cvt_per_day  weighted_categorical_position  \
count     4226.000                       4226.000
mean      4218.630                          7.783
std      13036.080                          6.134
min          2.188                          1.000
10%        141.985                          3.000
25%        351.169                          4.000
50%       1193.500                          6.000
75%       3356.789                          9.000
95%      14692.834                         22.000
max     307127.606                         41.000

       weighted_horizontal_poition  imdb_votes        budget     boxoffice  \
count                     4226.000    4226.000      4226.000      4226.000
mean                        28.104    6462.924   2150743.439   2536338.472
std                         11.864   31596.007   7176604.483   8243516.266
min                          1.000       0.000         0.000         0.000
10%                         13.000       8.000         0.000         0.000
25%                         20.000      81.000         0.000         0.000
50%                         28.000     535.000         0.000         0.000
75%                         36.000    3053.000   1500000.000         0.000
95%                         48.000   26199.500  12000000.000   8551228.000
max                         70.000  948630.000 107000000.000 184208848.000

       imdb_rating  duration_in_mins  metacritic_score  star_category
count     4226.000          4226.000          4226.000       4226.000
mean         5.257            89.556            15.974          0.955
std          2.123            21.086            26.205          0.955
min          0.000             4.037             0.000          0.000
10%          2.300            62.391             0.000          0.000
25%          4.300            82.602             0.000          0.000
50%          5.800            90.730             0.000          1.000
75%          6.800            99.500            41.000          1.667
95%          7.800           119.131            65.000          2.597
max         10.000           246.017           100.000          4.000

video_id                        0.000
cvt_per_day                     0.000
weighted_categorical_position   0.000
weighted_horizontal_poition     0.000
import_id                       0.000
release_year                    0.000
genres                          0.000
imdb_votes                      0.081
budget                          0.581
boxoffice                       0.756
imdb_rating                     0.081
duration_in_mins                0.000
metacritic_score                0.713
awards                          0.000
mpaa                            0.000
star_category                   0.437
dtype: float64

### 1.2.2 cvt_per_day feature

### 1.2.3 Correlation among numerical features

In [ ]:
corr

,cvt_per_day,weighted_categorical_position,weighted_horizontal_poition,release_year,imdb_votes,budget,boxoffice,imdb_rating,duration_in_mins,metacritic_score,star_category
cvt_per_day,1.000,-0.148,-0.302,0.046,0.298,0.316,0.312,0.059,0.152,0.249,0.247
weighted_categorical_position,-0.148,1.000,-0.084,-0.069,-0.064,-0.090,-0.074,-0.116,-0.174,-0.044,-0.123
weighted_horizontal_poition,-0.302,-0.084,1.000,0.027,-0.221,-0.211,-0.245,-0.162,-0.102,-0.255,-0.168
release_year,0.046,-0.069,0.027,1.000,-0.083,-0.040,-0.128,-0.199,-0.097,-0.167,-0.198
imdb_votes,0.298,-0.064,-0.221,-0.083,1.000,0.273,0.531,0.163,0.156,0.322,0.225
budget,0.316,-0.090,-0.211,-0.040,0.273,1.000,0.505,0.106,0.251,0.315,0.322
boxoffice,0.312,-0.074,-0.245,-0.128,0.531,0.505,1.000,0.164,0.226,0.465,0.322
imdb_rating,0.059,-0.116,-0.162,-0.199,0.163,0.106,0.164,1.000,0.344,0.347,0.192
duration_in_mins,0.152,-0.174,-0.102,-0.097,0.156,0.251,0.226,0.344,1.000,0.327,0.309
metacritic_score,0.249,-0.044,-0.255,-0.167,0.322,0.315,0.465,0.347,0.327,1.000,0.452
star_category,0.247,-0.123,-0.168,-0.198,0.225,0.322,0.322,0.192,0.309,0.452,1.000

After basic Data Exploratory Data Analysis, we will do some data cleaning and data preprocessing.

Firstly, we need to encode the categorical feature.
Secondly, we need to impute the mising value for both numeric and categorical feature.
Thirdly, we need to scale out feature, whihc can be better for our models' performance.

1.3.2 Distribution of Splited genres

Some videos belongs to more than one genere, the genre of each video is splitted, this would help emphasize the effect of each individual genere.

## **Part 2: Feature Preprocessing**

### **2.1 Categorical features**

In [ ]:
newTV[['budget','boxoffice','metacritic_score','star_category','imdb_votes','imdb_rating']] = newTV[['budget','boxoffice','metacritic_score','star_category','imdb_votes','imdb_rating']].replace(0, np.nan)
print(newTV.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4226 entries, 0 to 4225
Data columns (total 58 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   video_id                       4226 non-null   int64
 1   cvt_per_day                    4226 non-null   float64
 2   weighted_categorical_position  4226 non-null   int64
 3   weighted_horizontal_poition    4226 non-null   int64
 4   imdb_votes                     3882 non-null   float64
 5   budget                         1772 non-null   float64
 6   boxoffice                      1032 non-null   float64
 7   imdb_rating                    3882 non-null   float64
 8   duration_in_mins               4226 non-null   float64
 9   metacritic_score               1214 non-null   float64
 10  star_category                  2380 non-null   float64
 11  lionsgate                      4226 non-null   int64
 12  mgm                            4226 non-null   int64
 13  other                          4226 non-null   int64
 14  paramount                      4226 non-null   int64
 15  G                              4226 non-null   int64
 16  NC-17                          4226 non-null   int64
 17  NotRated                       4226 non-null   int64
 18  PG                             4226 non-null   int64
 19  PG-13                          4226 non-null   int64
 20  R                              4226 non-null   int64
 21  BAFTA                          4226 non-null   int64
 22  Golden Globe                   4226 non-null   int64
 23  Oscar                          4226 non-null   int64
 24  no award                       4226 non-null   int64
 25  other award                    4226 non-null   int64
 26  Action                         4226 non-null   int64
 27  Adventure                      4226 non-null   int64
 28  Animation                      4226 non-null   int64
 29  Comedy                         4226 non-null   int64
 30  Crime                          4226 non-null   int64
 31  Documentary                    4226 non-null   int64
 32  Drama                          4226 non-null   int64
 33  Fantasy                        4226 non-null   int64
 34  Foreign/International          4226 non-null   int64
 35  Horror                         4226 non-null   int64
 36  Independent                    4226 non-null   int64
 37  Kids & Family                  4226 non-null   int64
 38  Music                          4226 non-null   int64
 39  Musicals                       4226 non-null   int64
 40  Mystery                        4226 non-null   int64
 41  Romance                        4226 non-null   int64
 42  Sci-Fi                         4226 non-null   int64
 43  Sport                          4226 non-null   int64
 44  Thriller                       4226 non-null   int64
 45  War                            4226 non-null   int64
 46  Western                        4226 non-null   int64
 47  Misc_genres                    4226 non-null   int64
 48  1916-1974                      4226 non-null   int64
 49  1974-1991                      4226 non-null   int64
 50  1991-2001                      4226 non-null   int64
 51  2001-2006                      4226 non-null   int64
 52  2006-2008                      4226 non-null   int64
 53  2008-2010                      4226 non-null   int64
 54  2010-2012                      4226 non-null   int64
 55  2012-2013                      4226 non-null   int64
 56  2013-2014                      4226 non-null   int64
 57  2014-2017                      4226 non-null   int64
dtypes: float64(8), int64(50)
memory usage: 1.9 MB
None

In [ ]:
print(newTV.isnull().sum()/newTV.shape[0])

video_id                        0.000
cvt_per_day                     0.000
weighted_categorical_position   0.000
weighted_horizontal_poition     0.000
imdb_votes                      0.081
budget                          0.581
boxoffice                       0.756
imdb_rating                     0.081
duration_in_mins                0.000
metacritic_score                0.713
star_category                   0.437
lionsgate                       0.000
mgm                             0.000
other                           0.000
paramount                       0.000
G                               0.000
NC-17                           0.000
NotRated                        0.000
PG                              0.000
PG-13                           0.000
R                               0.000
BAFTA                           0.000
Golden Globe                    0.000
Oscar                           0.000
no award                        0.000
other award                     0.000
Action                          0.000
Adventure                       0.000
Animation                       0.000
Comedy                          0.000
Crime                           0.000
Documentary                     0.000
Drama                           0.000
Fantasy                         0.000
Foreign/International           0.000
Horror                          0.000
Independent                     0.000
Kids & Family                   0.000
Music                           0.000
Musicals                        0.000
Mystery                         0.000
Romance                         0.000
Sci-Fi                          0.000
Sport                           0.000
Thriller                        0.000
War                             0.000
Western                         0.000
Misc_genres                     0.000
1916-1974                       0.000
1974-1991                       0.000
1991-2001                       0.000
2001-2006                       0.000
2006-2008                       0.000
2008-2010                       0.000
2010-2012                       0.000
2012-2013                       0.000
2013-2014                       0.000
2014-2017                       0.000
dtype: float64

Filling missing data with mean value.

In [ ]:
newTV1= newTV.copy()
newTV1['boxoffice'] = newTV1['boxoffice'].fillna(newTV1['boxoffice'].mean())
newTV1['metacritic_score']=newTV1['metacritic_score'].fillna(newTV1['metacritic_score'].mean())
newTV1['star_category'] = newTV1['star_category'].fillna(newTV1['imdb_votes'].mean())
newTV1['imdb_votes'] = newTV1['imdb_votes'].fillna(newTV1['imdb_votes'].mean())
newTV1['imdb_rating']=newTV1['imdb_rating'].fillna(newTV1['imdb_rating'].mean())
newTV1['budget']= newTV1['budget'].fillna(newTV1['budget'].mean())
print(newTV1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4226 entries, 0 to 4225
Data columns (total 58 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   video_id                       4226 non-null   int64
 1   cvt_per_day                    4226 non-null   float64
 2   weighted_categorical_position  4226 non-null   int64
 3   weighted_horizontal_poition    4226 non-null   int64
 4   imdb_votes                     4226 non-null   float64
 5   budget                         4226 non-null   float64
 6   boxoffice                      4226 non-null   float64
 7   imdb_rating                    4226 non-null   float64
 8   duration_in_mins               4226 non-null   float64
 9   metacritic_score               4226 non-null   float64
 10  star_category                  4226 non-null   float64
 11  lionsgate                      4226 non-null   int64
 12  mgm                            4226 non-null   int64
 13  other                          4226 non-null   int64
 14  paramount                      4226 non-null   int64
 15  G                              4226 non-null   int64
 16  NC-17                          4226 non-null   int64
 17  NotRated                       4226 non-null   int64
 18  PG                             4226 non-null   int64
 19  PG-13                          4226 non-null   int64
 20  R                              4226 non-null   int64
 21  BAFTA                          4226 non-null   int64
 22  Golden Globe                   4226 non-null   int64
 23  Oscar                          4226 non-null   int64
 24  no award                       4226 non-null   int64
 25  other award                    4226 non-null   int64
 26  Action                         4226 non-null   int64
 27  Adventure                      4226 non-null   int64
 28  Animation                      4226 non-null   int64
 29  Comedy                         4226 non-null   int64
 30  Crime                          4226 non-null   int64
 31  Documentary                    4226 non-null   int64
 32  Drama                          4226 non-null   int64
 33  Fantasy                        4226 non-null   int64
 34  Foreign/International          4226 non-null   int64
 35  Horror                         4226 non-null   int64
 36  Independent                    4226 non-null   int64
 37  Kids & Family                  4226 non-null   int64
 38  Music                          4226 non-null   int64
 39  Musicals                       4226 non-null   int64
 40  Mystery                        4226 non-null   int64
 41  Romance                        4226 non-null   int64
 42  Sci-Fi                         4226 non-null   int64
 43  Sport                          4226 non-null   int64
 44  Thriller                       4226 non-null   int64
 45  War                            4226 non-null   int64
 46  Western                        4226 non-null   int64
 47  Misc_genres                    4226 non-null   int64
 48  1916-1974                      4226 non-null   int64
 49  1974-1991                      4226 non-null   int64
 50  1991-2001                      4226 non-null   int64
 51  2001-2006                      4226 non-null   int64
 52  2006-2008                      4226 non-null   int64
 53  2008-2010                      4226 non-null   int64
 54  2010-2012                      4226 non-null   int64
 55  2012-2013                      4226 non-null   int64
 56  2013-2014                      4226 non-null   int64
 57  2014-2017                      4226 non-null   int64
dtypes: float64(8), int64(50)
memory usage: 1.9 MB
None

### **2.3 Feature scaling**

The impact of differnet scalling methods on the model performance is small. In the following model training and selections, the standard scalling sc data is used. 

There are two most common used scaling method: normalization and standardscaler. 
If there are no specific requirement for the range of output, we choose to use standardscaler.

In [ ]:
#Standard scaling
scale_lst= ['weighted_categorical_position', 'weighted_horizontal_poition','budget','boxoffice',
            'imdb_votes','imdb_rating','duration_in_mins','metacritic_score','star_category']

newTV_sc = newTV1.copy()

sc_scale = preprocessing.StandardScaler().fit(newTV_sc[scale_lst])
newTV_sc[scale_lst] = sc_scale.transform(newTV_sc[scale_lst])
newTV_sc.head()

,video_id,cvt_per_day,weighted_categorical_position,weighted_horizontal_poition,imdb_votes,budget,boxoffice,imdb_rating,duration_in_mins,metacritic_score,star_category,lionsgate,mgm,other,paramount,G,NC-17,NotRated,PG,PG-13,R,BAFTA,Golden Globe,Oscar,no award,other award,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Fantasy,Foreign/International,Horror,Independent,Kids & Family,Music,Musicals,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western,Misc_genres,1916-1974,1974-1991,1991-2001,2001-2006,2006-2008,2008-2010,2010-2012,2012-2013,2013-2014,2014-2017
0,385504,307127.606,-1.106,-2.116,1.984,1.470,4.696,0.542,1.079,-0.630,-0.881,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
1,300175,270338.426,-1.106,-2.116,1.258,1.470,-1.022,0.542,0.257,-1.997,-0.880,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
2,361899,256165.867,-1.106,-2.116,6.043,3.108,3.898,1.100,1.243,0.327,-0.880,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
3,308314,196622.721,-0.780,-2.032,11.077,1.470,0.767,1.309,1.952,5.250,-0.881,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0
4,307201,159841.652,-1.106,-2.116,1.258,3.290,-0.265,0.472,0.758,-2.544,-0.880,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0

In [ ]:
#MinMax scaling 
newTV_mm = newTV.copy()
mm_scale = preprocessing.MinMaxScaler().fit(newTV_mm[scale_lst])
newTV_mm[scale_lst] = mm_scale.transform(newTV_mm[scale_lst])

#Robust scaling 
newTV_rs = newTV.copy()
rs_scale = preprocessing.RobustScaler().fit(newTV_mm[scale_lst])
newTV_rs[scale_lst] = rs_scale.transform(newTV_rs[scale_lst])